*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    /*background-color: black;*/
}

.row {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    }
        
.column1 { grid-area: 1 / 1 / 2 / 2; }
.column2 { grid-area: 2 / 1 / 3 / 2; }
.column3 { grid-area: 2 / 1 / 3 / 2; }
.column1 {
    width: 65%;
    height: 100%;
    margin-top: 0px; margin-bottom: 0px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
}
.column1 img {
	width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 0px; margin-bottom: 0px;
    
    
}

.column2{
    top: 0%;
    left: 0%;
    height: 300px;
    width: 65%;
    overflow: hidden;
    margin-top: 0px; margin-bottom: 0px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
}


.column3{

}
.column3 img{
    margin-top: 0px; margin-bottom: 0px;
    width:220px;
    height:220px;
    text-align: center;
}



